<div class="container">
  <h1>Calcular Alumno</h1>
  <form name="sentMessage" id="contactForm" novalidate>
    <div class="control-group form-group">
      <div class="controls">
        <label>Numero de Legajo del Alumno:</label>
        <input class="form-control" required minlength="2" maxlength="4"
          name="txtNumeroDeLegajo" [(ngModel)]="alumno.numeroLegajo" type="number" />
      </div>
      <div>
          <div>Numero de Legajo es Rquerido</div>
          <div>Numero de Legajo de tener 4 caracteres Ej. 1235 </div>
        </div>
    </div>
    <div class="control-group form-group">
      <div class="controls">
        <label>Nota de Concepto:</label>
        <input class="form-control" name="txtNotaConcepto" required
          data-validation-required-message="Por Favor Escriba La nota de Concepto." [(ngModel)]="alumno.notaConcepto"
          type="number" />
      </div>
    </div>
    <div class="control-group form-group">
      <div class="controls">
        <label>Nota de Evaluación Escrita:</label>
        <input class="form-control" name="txtNotaEscrita" required
          data-validation-required-message="Por Favor Escriba La nota Escriba." [(ngModel)]="alumno.notaEscrita"
          type="number">
      </div>
    </div>
    <div class="control-group form-group">
      <div class="controls">
        <label>Nota de Evaluación Oral:</label>
        <input class="form-control" name="txtnota" required
          data-validation-required-message="Por Favor Escriba La nota Oral." [(ngModel)]="alumno.notaOral"
          type="number">
      </div>
    </div>

    <button type="submit" class="btn btn-info" (click)="calcularNotas()" data-toggle="modal"
      data-target="#myModal">Calcular Nota</button>
  </form>
</div>

<div>
  <h3>Registro de Alumnos</h3>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Numero de Legajo</th>
        <th>Nota de Concepto</th>
        <th>Nota de Evaluación Escrita</th>
        <th>Nota de Evaluación Oral</th>
        <th>Promedio</th>
        <th>Estado</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of alumnos">
        <th>{{item.numeroLegajo}}</th>
        <td>{{item.notaConcepto}}</td>
        <td>{{item.notaEscrita}}</td>
        <td>{{item.notaOral}}</td>
        <td>{{item.promedio}}</td>
        <td>{{item.estado}}</td>
      </tr>
    </tbody>
  </table>
</div>


<!-- The Modal -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Legajo {{alumno.numeroLegajo}}</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div>
          <label>Su Promedio es {{alumno.promedio}}</label>
        </div>
        <div>
          <label *ngIf="alumno.promedio>=7" class="alert-success"> El Alumno ha sido ... {{alumno.estado}}</label>
          <label *ngIf="alumno.promedio>=5&&alumno.promedio<7" class="alert alert-info"> El Alumno ha sido ... {{alumno.estado}}</label>
          <label *ngIf="alumno.promedio<=4" class="alert-danger"> El Alumno ha sido ... {{alumno.estado}}</label>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="clearAlumno()">Close</button>
      </div>

    </div>
  </div>
</div>
