<div class="container">
  <form id="contact" #formVotacion="ngForm" class="p-2 text-center mt-2 shadow rounded" >
    <h3>Encuesta</h3>
    <h4>Queremos saber tu Opinion</h4>
    <div>
        <div class="form-group">
            <label class="text-white font-weight-bold"  for="email">Ingrese Legajo</label>
            <input type="email" placeholder="Tu correo Electronico" [(ngModel)]="encuesta.email"
            class="form-control rounded font-weight-bold text-dark text-center"
            id="correo" name="email" #email="ngModel" ngModel sin-espacios required>
            <div class="mensaje-de-error" *ngIf="email.touched && email.invalid">
                <div class="text-danger font-weight-bolder alert alert-danger" *ngIf="email?.errors.required">Email requerido</div>
                <div class="text-danger font-weight-bolder alert alert-danger" *ngIf="email?.errors.sinEspacios">No ingrese espacios</div>
            </div>
        </div>
    </div>
    <img>
    <dir>
      <div class="row-3">
        <div class=" "  >
          <div class="row custom-control custom-radio custom-control-inline col-md-3 col-sm-3 col-xs-3">
            <input type="radio" class="custom-control-input" id="customRadio" name="example" value="0" required
              [(ngModel)]="encuesta.puntaje">
            <label class="custom-control-label" for="customRadio">No Sabe</label>
          </div>
          <div class="row-3 custom-control custom-radio custom-control-inline col-md-3 col-sm-3 col-xs-3">
            <input type="radio" class="custom-control-input" id="customRadio2" name="example" value="1" equired
              [(ngModel)]="encuesta.puntaje">
            <label class="custom-control-label" for="customRadio2">Malo</label>
          </div>
          <div class="row-3 custom-control custom-radio custom-control-inline col-md-3 col-sm-3 col-xs-3">
            <input type="radio" class="custom-control-input" id="customRadio3" name="example" value="2" equired
              [(ngModel)]="encuesta.puntaje">
            <label class="custom-control-label" for="customRadio3">Regular</label>
          </div>
          <div class="row-3 custom-control custom-radio custom-control-inline col-md-3 col-sm-3 col-xs-3">
            <input type="radio" class="custom-control-input" id="customRadio4" name="example" value="3" equired
              [(ngModel)]="encuesta.puntaje">
            <label class="custom-control-label" for="customRadio4">Bueno</label>
          </div>
        </div>
      </div>
    </dir>
    <dir>
      <img>
      <div>
          <button type="submit" (click)="enviarEcuesta( formVotacion );" class="btn btn-primary mt-2">Registrar</button>

      </div>
    </dir>
  </form>
</div>

<div>
  <h3>Registro de Encuentas</h3>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>E-mail</th>
        <th>Puntaje</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of encuestas">
        <th>{{item.email}}</th>
        <td>{{item.puntaje}}</td>
      </tr>
    </tbody>
  </table>
</div>
<dir>
  <img>
  <div class="row ">
    <div class="col-md-3 col-sm-3 col-xs-3 alert alert-info">
      <label>Cantidad de Puntajes "No Sabe": {{contNoSabe}}</label>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-3 alert alert-danger">
      <div>
        <label>Cantidad de Puntajes "Malo": {{contMalo}}</label>
      </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-3 alert alert-secondary">
      <label>Cantidad de Puntajes "Regular": {{contRegular}}</label>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-3 alert alert-success">
      <label>Cantidad de Puntajes "Bueno": {{contBueno}}</label>
    </div>
  </div>
</dir>
