<div class="jumbotron text-center">
  <h1>Programación y Servicios Web</h1>
  <p>Facultad de Ingeniería
    Universidad Nacional de Jujuy</p>
</div>

<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" [routerLink]="['/punto01']">Punto 01</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" [routerLink]="['/punto02']">Punto 02</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" [routerLink]="['/punto03']">Punto 03</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" [routerLink]="['/punto04']">Punto 04</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" [routerLink]="['/punto05']">Punto 05</a>
  </li>
</ul>
