<img>
<form class="p-2 text-center mt-2 shadow rounded" id="form" #formValor="ngForm">
  <div *ngIf="mostrarCargarValore">
    <div class="row ">
      <div class="col-md-3 col-sm-3 col-xs-3">
        <label>Precio de Compra</label>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-3">
        <div>
            <input type="number" [(ngModel)]="valorCompraActual"
            class="form-control rounded font-weight-bold text-dark text-center"
            id="cantidadV" name="cantidadV" min="1" #precio="ngModel" ngModel negativo required>
            <div class="mensaje-de-error" *ngIf="precio.touched && precio.invalid">
                <div class="text-danger font-weight-bolder" *ngIf="precio?.errors.required">Monto requerido</div>
                <div class="text-danger font-weight-bolder" *ngIf="precio?.errors.negativo">El monto debe ser mayor a cero</div>
            </div>
          </div>
        </div>

      <div class="col-md-3 col-sm-3 col-xs-3">
        <label>Precio de Venta</label>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-3">
          <input type="number" [(ngModel)]="valorVentaActual"
          class="form-control rounded font-weight-bold text-dark text-center"
          id="cantidadV" name="cantidadV" min="1" #precio="ngModel" ngModel negativo required>
          <div class="mensaje-de-error" *ngIf="precio.touched && precio.invalid">
              <div class="text-danger font-weight-bolder" *ngIf="precio?.errors.required">Monto requerido</div>
              <div class="text-danger font-weight-bolder" *ngIf="precio?.errors.negativo">El monto debe ser mayor a cero</div>
          </div>
        </div>

    </div>
    <img>
    <div class="col-md-6 col-sm-6 col-xs-6 pad-adjust">
      <input type="button" class="btn btn-warning btn-block " value="Guardar Valor de Cambio"
        (click)="grabarValores(formValor)" />
    </div>
  </div>
</form>

<form class="p-2 text-center mt-2 shadow rounded" #formCambio="ngForm" action="">
  <div *ngIf="!mostrarCargarValore">
    <div class="panel panel-default">
      <div class="panel-heading">
        <dir>
          <div class="row pad-adjust">
            <div class="col-md-6 col-sm-6 col-xs-6 pad-adjust">
              <label>El Valor de Compra es: {{valorCompraActual}}</label>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 pad-adjust">
              <label>El Valor de Venta es: {{valorVentaActual}}</label>
            </div>
          </div>
          <div class="col-md-12">
            <div>
              <label>Ingrese el Monto que desea Convertir</label>
            </div>
              <input type="number" [(ngModel)]="moneda.montoRecibido"
              class="form-control rounded font-weight-bold text-dark text-center" id="cantidadV"
              name="cantidadV" min="1" #venta="ngModel" ngModel negativo required>
              <div class="mensaje-de-error" *ngIf="venta.touched && venta.invalid">
                  <div class="text-danger font-weight-bolder" *ngIf="venta?.errors.required">Monto requerido</div>
                  <div class="text-danger font-weight-bolder" *ngIf="venta?.errors.negativo">El monto debe ser mayor a cero</div>
              </div>
          </div>
        </dir>
        <dir>
          <div>
            <form>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" id="customRadio" name="txtTipoCambio" value="true"
                  [(ngModel)]="moneda.tipoCambio">
                <label class="custom-control-label" for="customRadio">Cambio de $ (pesos) a USD (dólar)</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" id="customRadio2" name="txtTipoCambio" value="false"
                  [(ngModel)]="moneda.tipoCambio">
                <label class="custom-control-label" for="customRadio2">Cambio de USD (dólar) a $ (pesos)</label>
              </div>
            </form>
          </div>
        </dir>

        <div class="row">
          <div class="col-md-3 col-sm-3 col-xs-3">
            <input type="submit" class="btn btn-info btn-block" value="Cambiar Valor" (click)="grabarValores(formCambio)" />
          </div>
          <div class="col-md-3 col-sm-3 col-xs-3">
            <div>
              <input type="submit" class="btn btn-danger" value="CANCEL" />
            </div>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-3">
            <input type="button" class="btn btn-warning btn-block" value="Convertir" (click)="convertirMoneda(formCambio)" />
          </div>
        </div>
        <img src="" alt="">
        <h1>Monto a Entregar: <span class="badge badge-secondary">{{montoMostrar}} </span></h1>
      </div>
    </div>
  </div>
</form>
<img>
<div>
  <h3>Registro de Transaciones Realizadas</h3>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Valor de Compra</th>
        <th>Valor de Venta</th>
        <th>Monto</th>
        <th>Tipo de Operacion</th>
        <th>Entregado</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of monedas">
        <th>{{item.valorCompra}}</th>
        <td>{{item.valorVenta}}</td>
        <td>{{item.montoRecibido}}</td>
        <td>{{item.tipoCambio}}</td>
        <td>{{item.montoEntregado}}</td>
      </tr>
    </tbody>
  </table>
</div>
